<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Admin</title>
    <script>
        function setTime() {
            var currentTime = new Date();
            var hours = currentTime.getHours();
            var minutes = currentTime.getMinutes();
            var seconds = currentTime.getSeconds();
            if (minutes < 10)
                minutes = '0' + minutes;
            if (seconds < 10)
                seconds = '0' + seconds;
            document.getElementById('ClientTime').innerHTML = hours + ':' + minutes + ':' + seconds;
        }
        function refresh() {
            location.reload();
        }










    </script>
</head>
<body onload='setInterval(function(){refresh()}, ${refreshPeriod} ); setTime();'>
<div class="top">
    <a href="/">
        <img src="otus_logo.png"/>
    </a>
    <br/>
    <table border="3">
        <tr>
            <td><a href="/">Index</a></td>
            <td>
                <form action="/exit" method="POST">
                    <button type="submit" name="exit" value="logout" class="btn-link">Exit</button>
                </form>
            </td>
        </tr>
    </table>
    <br/>
</div>

<p>Welcome admin!</p>

<p>Please be patient cause some of information will update after some time, something around 1 min (QueryCache Hit Count
    for example)</p>
<p>Here some information:</p>

<p>Для вычисления кеша были размечены следующие сущности: UserDataSet, PhoneDataSet, AddressDataSet. Включен
    QueryCache.</p>
<p>Для корректного отображения состояния кеша были применены Cache Regions.</p>
<p>В работе приложния используются NamedQuery с принудительным кешированием и явным указанием Cache Region'а.</p>
<p>Для доступа к объектам используются запросы, сформированные из строки, содержащей SQL query - с принудительным
    кешированием и указанием Cache Region'а.</p>

<table border="1">
    <tr>
        <td>Method:</td>
        <td>${method}</td>
    </tr>
    <tr>
        <td>URL:</td>
        <td>${URL}</td>
    </tr>
    <tr>
        <td>Locale:</td>
        <td>${locale}</td>
    </tr>
    <tr>
        <td>SessionId:</td>
        <td>${sessionId}</td>
    </tr>
    <tr>
        <td>Parameters:</td>
        <td>${parameters}</td>
    </tr>
    <tr>
        <td>Client time:</td>
        <td><span id='ClientTime'></span></td>
    </tr>
    <tr>
        <td>Queries:</td>
        <td>${queries}</td>
    </tr>
    <tr>
        <td>QueryCache Hit Count:</td>
        <td>${queryCacheHitCount}</td>
    </tr>
    <tr>
        <td>QueryCache Miss Count:</td>
        <td>${queryCacheMissCount}</td>
    </tr>
    <tr>
        <td>QueryCache Put Count:</td>
        <td>${queryCachePutCount}</td>
    </tr>
    <tr>
        <td>Second Level Cache Hit Count (Total value):</td>
        <td>${secondLevelCacheHitCount}</td>
    </tr>
    <tr>
        <td>Second Level Cache Miss Count (Total value):</td>
        <td>${secondLevelCacheMissCount}</td>
    </tr>
    <tr>
        <td>Second Level Cache Put Count:</td>
        <td>${secondLevelCachePutCount}</td>
    </tr>
    <tr>
        <td>Second Level Cache Region Names:</td>
        <td>${secondLevelCacheRegionNames}</td>
    </tr>
    <tr>
        <td>Session Open Count:</td>
        <td>${sessionOpenCount}</td>
    </tr>
    <tr>
        <td>Session Close Count:</td>
        <td>${sessionCloseCount}</td>
    </tr>
    <tr>
        <td>Second Level Hit Count - UserDataSet entity:</td>
        <td>${secondLevelHitU}</td>
    </tr>
    <tr>
        <td>Second Level Miss Count - UserDataSet entity:</td>
        <td>${secondLevelMissU}</td>
    </tr>
    <tr>
        <td>Second Level Put Count - UserDataSet entity:</td>
        <td>${secondLevelPutCountU}</td>
    </tr>
    <tr>
        <td>Second Level Size - UserDataSet entity:</td>
        <td>${secondLevelSizeU}</td>
    </tr>
    <tr>
        <td>Second Level Hit Count - PhoneDataSet entity:</td>
        <td>${secondLevelHitP}</td>
    </tr>
    <tr>
        <td>Second Level Miss Count - PhoneDataSet entity:</td>
        <td>${secondLevelMissP}</td>
    </tr>
    <tr>
        <td>Second Level Put Count - PhoneDataSet entity:</td>
        <td>${secondLevelPutCountP}</td>
    </tr>
    <tr>
        <td>Second Level Size - PhoneDataSet entity:</td>
        <td>${secondLevelSizeP}</td>
    </tr>
    <tr>
        <td>Second Level Hit Count - AddressDataSet entity:</td>
        <td>${secondLevelHitA}</td>
    </tr>
    <tr>
        <td>Second Level Miss Count - AddressDataSet entity:</td>
        <td>${secondLevelMissA}</td>
    </tr>
    <tr>
        <td>Second Level Put Count - AddressDataSet entity:</td>
        <td>${secondLevelPutCountA}</td>
    </tr>
    <tr>
        <td>Second Level Size - AddressDataSet entity:</td>
        <td>${secondLevelSizeA}</td>
    </tr>
</table>
</body>
</html>