<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
</head>
<body>
<div class="top">
    <!--<a href="index.html">-->
    <a href="/">
        <img src="otus_logo.png"/>
    </a>
    <br/>
    <table border="3">
        <tr>
            <!--<td><a href="index.html">Index</a></td>-->
            <td><a href="/">Index</a></td>
            <td><a href="login">Login</a></td>
        </tr>
    </table>
    <br/>
</div>
</body>
</html>
